
body {
    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    color: rgb(231, 84, 128);
    background-color: rgb(255, 182, 193);
    font-size: 36px;
    text-align: center;
    padding: 20px;
}

#pic1 {
    display: block;
    margin: 20px auto;
    border-radius: 15px; /* Rounded corners for pic1 */
}

.click-img {
    display: block;
    margin: 20px auto;
    border-radius: 50%; /* Circular shape for click image */
    width: 350px;
    height: 150px;
}


